.body{
    background-color: #0D1117;
    font-family:sans-serif;
    margin: 0px;
}

.title{
    color: #F0F6FC;
    text-align: center;
    margin-top: 2%;
    font-size: 130%;
    font-family:sans-serif;
    font-weight: 500;
}


.navbar ul{
    list-style-type: none;
    background-color: #151B23;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    position: fixed;
    bottom: 0%;
    width: 100%;
    display: inline-block;
}

.navbar a{
    color: #9198A1;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 70%;
}

.navbar a:hover{
    color: #4493F8;
    text-decoration: underline;
}

.navbar li{
    float:left;
    display: inline;
    margin-left: 5%;
}

.navbar li a{
    text-align: center;
}

.text-field{
    color: white;
    text-align: center;
    border: 1px #0D1117;
}

.img{
    width: auto;
    width: 5%;
    background-color: white;
    border-radius: 100%;
    margin-top: 5%;
}

.container{
    display: flex;
    justify-content: center;
}

.textbox{
    background-color: #0D1117;
    border-style:solid;
    border-radius:5px;
    width: 30%;
    height: 35px;
    border-width: .1px;
    color: white;
    margin-top: .5%;
}

#username:focus{
    outline: none;
    border-color: #1F6FEB;
    border-width: 2px;
}

#password:focus{
    outline: none;
    border-color: #1F6FEB;
    border-width: 2px;
}


.label1{
    margin-right: 11.5%;
    font-size: 90%;
}

.label2{
    margin-right: 10.5%;
    font-size: 90%;
}

.bttn{
    background-color: #238636;
    border-style: solid;
    border-color: #238636;
    border-radius: 5px;
    width: 30%;
    height: 40px;
    color: white;
    font-size: 90%;
    margin-bottom: 2%;
}

.bttn2{
    background-color: #212830;
    border-style:solid;
    border-color: #3D444D;
    border-width: 1px;
    border-radius: 5px;
    width: 30%;
    height: 40px;
    color: white;
    font-size: 90%;
    margin-bottom: 2%;
    margin-top: 2%;
    font-weight: 300;
}


.try{
    text-align: center;
    color: white;
    font-weight: 200;
    font-size: 90%;
    position: relative;
    text-align: center;
}

.hr {
    left: 35%;
    color: white;
    font-weight: 200;
    font-size: 80%;
    display: flex; 
    align-items: center; 
    text-align: center; 
    position: relative; 
}

.hr:before,
.hr:after {
    width: 5%;
    content: "";
    flex-grow: .09;
    height: 1px; 
    background-color: #3D444D; 
}

.hr span {
    padding: 0 15px; 
    position: relative; 
    z-index: 1; 
}

.fgp{
    text-decoration: none;
    color: #4493F8;
    font-weight: 200;
    font-size: 90%;
}

.text-field a:hover{
    text-decoration: underline;
}

.bottom{
    text-align: center;
    color: white;
    font-weight: 200;
    font-size: 90%;
    line-height: 250%;
}

.bottom a{
    text-decoration: none;
    color: #4493F8;
    font-weight: 300;
}

.bottom a:hover{
    text-decoration: underline;
}

/* for iphone 15 pro and 15 pro max */
@media only screen 
    and (max-width: 430px) 
    and (max-height: 932px) 
    { 

        .textbox{
            width: 80%;
            height: 40px;
            border-width: .5px;
        }
        .bttn, .bttn2{
            width: 80%;
            height: 50px;
        }
        .label1, .label2{
            margin-right: 10%
            font-size: 100%;
        }
    }
